@model List<OdeToFood.Components.InventoryItem>

@{
    ViewBag.Title = "Home Page";
    var math = 2 + 2;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() restaurants in the db.
        @math; hi

    </div>
</div>

@Html.Partial("_ideaWidget")

@{
    math = 72;
}

@foreach(var item in Model)
{
    <tr>
        <td> item.Name </td>
        <td><a href="#">item.Count</a></td>
    </tr>

}


<script>
    let math2 = "@math";
    console.log(math2);

</script>